$raptors-green: #162116;
$raptors-darkGreen: #162116;

.opener {
    //background-color: #162116;
}

.form {

}

.qr-codes {
    .qrbox {
        background: white;
        padding: 10px;
        display: inline-block;
    }
}